# Log files and compiled outputs
*.log
dist/
node_modules/


# Sensitive files
glance.yml
dotfiles/.config/dae/
dotfiles/.config/daed/

#have not been used
overlays/
secrets/
lib/

#trash
unused/
trash/