# Log files and compiled outputs
*.log
dist/
node_modules/

# Sensitive files
glance.yml
dotfiles/
_noctalia/

# have not been used
/overlays/
/secrets/
/lib/

# trash
unused/
/trash/

# test
test.sh

# binary
wanxiang-lts-zh-hans.gram
