# Log files and compiled outputs
*.log
result/

# Local-only dot entries
.omo/

# Sensitive files
dotfiles/
glance.yml
_noctalia/
# modules/programs/apps/de/noctalia/config.toml

# have not been used

# trash
unused/
/trash/

# test
test.sh

# binary
wanxiang-lts-zh-hans.gram
