binds {
    // -------- Noctalia 特有绑定 --------
    Mod+S hotkey-overlay-title="控制面板" { spawn-sh "noctalia msg panel-toggle control-center"; }
    // Super+Alt+L hotkey-overlay-title="锁屏" { spawn-sh "noctalia msg session lock"; }
    Mod+Shift+Escape hotkey-overlay-title="电源" { spawn-sh "noctalia msg panel-toggle session"; }
    Mod+D hotkey-overlay-title="应用启动器" { spawn-sh "noctalia msg panel-toggle launcher"; }
    Mod+V hotkey-overlay-title="剪切板" { spawn-sh "noctalia msg panel-toggle clipboard"; }
    //Mod+Shift+W hotkey-overlay-title="桌面小组件" { spawn "noctalia" "ipc" "call" "desktopWidgets" "toggle"; }

    // Media controls
    Mod+Alt+Space {spawn-sh "noctalia msg media toggle";}
    Mod+Alt+Left {spawn-sh "noctalia msg media previous";}
    Mod+Alt+Right {spawn-sh "noctalia msg media next";}

    // Audio & Brightness
    XF86AudioRaiseVolume { spawn-sh "noctalia msg volume-up"; }
    XF86AudioLowerVolume { spawn-sh "noctalia msg volume-down"; }
    XF86AudioMute { spawn-sh "noctalia msg volume-mute"; }
    XF86MonBrightnessUp { spawn-sh "noctalia msg brightness-up"; }
    XF86MonBrightnessDown { spawn-sh "noctalia msg brightness-down"; }
}

// shell
spawn-at-startup "noctalia"
spawn-sh-at-startup "sleep 3 && qylock-lock"  //锁屏


// noctalia-wallpaper
layer-rule {
    match namespace="^noctalia-wallpaper*"
    place-within-backdrop true
}