include "animations/dissolve.kdl"

binds {
    // 长截图
    Alt+L {
    spawn-sh r#"set -e;
        wayscrollshot \
            -o "$HOME/Pictures/Screenshots/WayScroll_$(date +%Y%m%d_%H%M%S).png" \
            --clipboard
    "#;
    }
}

/* Noctalia: blur everywhere without xray for a better look */
// layer-rule {
//   match namespace="^noctalia-(background|launcher-overlay|dock)-.*$"
//   background-effect {
//     xray false
//   }
// }

/*
  Noctalia
  Disable xray on all our surfaces so it looks more realistic.
  No need to set blur to 'true' here, it's automatic.
*/
layer-rule {
  match namespace="^noctalia-(bar-[^\"]+|notification|dock|panel)$"
  background-effect {
    xray false
    //blur false
  }
}

blur {
  passes 3        // more passes = stronger blur (default: 3)
  offset 3.0      // sample distance per pass (default: 3.0)
  noise 0.02      // grain overlay (default: 0.02)
  saturation 1.5  // color saturation boost (default: 1.5)
}

window-rule { // blur for transparent windows
    match app-id="^kitty$"
    match app-id="^com.mitchellh.ghostty$"
    // match app-id="^zen-beta$"
    background-effect {
        blur true
        xray true
    }
}
window-rule { // blur for opaque windows
    // match app-id="^code$"
    // match app-id="^electron$"
    // match app-id="^obsidian$"
    // match app-id="^org.fooyin.fooyin$"
    match app-id="^kitty$" title="^hx$"
    // match app-id="^jetbrains-idea$"
    opacity 0.95
    background-effect {
        blur true
        xray true
    }
}


// Floating Noctalia settings window.
window-rule {
  match app-id="dev.noctalia.Noctalia.Settings"
  open-floating true
  default-column-width { proportion 0.5; }
  default-window-height { proportion 0.75; }
}

debug {
  // Allows notification actions and window activation from Noctalia.
  honor-xdg-activation-with-invalid-serial
}