// 窗口规则
window-rule {
    geometry-corner-radius 10
    clip-to-geometry true
}
window-rule { // 移除所有窗口的边框背景 + 透明度
    draw-border-with-background false
//opacity 0.89
}
window-rule { // 浮动窗口
    match app-id=r#"^gnome-calculator$"#
    match app-id=r#"^galculator$"#
    match app-id=r#"^blueman-manager$"#
    match app-id=r#"^org\.gnome\.Nautilus$"#
    match app-id=r#"^xdg-desktop-portal$"#
    match app-id="dynamic_power_user"
    match app-id="com.network.manager"
    match app-id="org.pulseaudio.pavucontrol"
    match app-id="com.saivert.pwvucontrol"
    match app-id="xdg-desktop-portal-gtk"
    match app-id="waypaper"
    match app-id="mpv"
    match app-id="vlc"
    match app-id="imv"
    open-floating true
//  opacity 0.8
}
window-rule { // 全屏
    match app-id="google-chrome"
    match app-id="chromium-browser"
    match app-id="brave-origin"
    match app-id="md.Obsidian"
    match app-id="code"
    match app-id="org.telegram.desktop"
    match app-id="moe.tsuna.tsukimi"
    //match app-id="kitty"
    match app-id="com.mitchellh.ghostty"
    match app-id="SPlayer"
    match app-id="steam"
    match app-id="spotify"
    match app-id="jetbrains-idea"
    match app-id="electron"
    match app-id="pix"
    match app-id="dev.zed.Zed"
    //match app-id="nemo"

    // 设置默认列宽度为 100% (占据整个屏幕)
    default-column-width { proportion 1.0; }

    // 如果你想要浮动窗口，保留这个
    // open-floating true

    // 如果你想要窗口占据整个屏幕高度，可以加上
    // default-window-height { proportion 1.0; }
}
window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}
window-rule {
    match app-id=r#"^org\.gnome\."#
    draw-border-with-background false
    geometry-corner-radius 10
    clip-to-geometry true
}
window-rule {
    match app-id=r#"^gnome-control-center$"#
    match app-id=r#"^nm-connection-editor$"#
    default-column-width { proportion 0.5; }
    open-floating false
}
window-rule {
    match app-id=r#"^steam$"# title=r#"^notificationtoasts_\d+_desktop$"#
    default-floating-position x=10 y=10 relative-to="bottom-right"
    open-focused false
}
window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    match app-id="Alacritty"
    match app-id="zen-beta"
    match app-id="com.mitchellh.ghostty"
    match app-id="kitty"
    draw-border-with-background false
}
window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id="zoom"
    open-floating true
}
window-rule {
    //match app-id="wechat"
    match app-id="QQ"
    open-floating true
    default-column-width { proportion 0.75; }
    default-window-height { proportion 0.75; }
}
window-rule {
    match app-id="waydroid"
    //open-floating true
    open-maximized false
}
window-rule {
    match app-id="^Splayer$" title="^桌面歌词$"
    open-floating true
    default-column-width { proportion 0.75; }
    default-floating-position x=0 y=32 relative-to="bottom"
    border {
        off
    }
}
window-rule { // waypaper
    match app-id="waypaper"
    default-window-height {fixed 660; }
    default-column-width {fixed 850; }
    open-floating true
//opacity 0.8
}
window-rule { //nemo opn with
    match app-id="nemo" title="Open with"
    open-floating true
    default-window-height {fixed 660; }
    default-column-width {fixed 850; }
}
